<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('宠物基本信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>宠物昵称：</label>
                                <input type="text" name="petName"/>
                            </li>
                            <li>
                                <label>宠物种类：</label>
                                <input type="text" name="petKind"/>
                            </li>
                            <li>
                                <label>宠物年龄：</label>
                                <input type="text" name="petAge"/>
                            </li>
                            <li>
                                <label>宠物出生日期：</label>
                                <input type="text" name="petBirth"/>
                            </li>
                            <li>
                                <label>宠物体重：</label>
                                <input type="text" name="petWeight"/>
                            </li>
                            <li>
                                <label>宠物毛色：</label>
                                <input type="text" name="petColor"/>
                            </li>
                            <li>
                                <label>宠物喜好：</label>
                                <input type="text" name="petLike"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:pet:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:pet:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:pet:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:pet:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:pet:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:pet:remove')}]];
        var prefix = ctx + "system/pet";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "宠物基本信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'petId',
                    title: '宠物ID',
                    visible: false
                },
                {
                    field: 'petName',
                    title: '宠物昵称'
                },
                {
                    field: 'petKind',
                    title: '宠物种类'
                },
                {
                    field: 'petAge',
                    title: '宠物年龄'
                },
                {
                    field: 'petBirth',
                    title: '宠物出生日期'
                },
                {
                    field: 'petWeight',
                    title: '宠物体重'
                },
                {
                    field: 'petColor',
                    title: '宠物毛色'
                },
                {
                    field: 'petLike',
                    title: '宠物喜好'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.petId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.petId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>